[submodule "api"]
	path = api
	url = https://github.com/kvishnivetsky/homer-api.git
[submodule "ui"]
	path = ui
	url = https://github.com/kvishnivetsky/homer-ui.git
[submodule "captagent"]
	path = captagent
	url = https://github.com/sipcapture/captagent.git
