[submodule "captagent"]
	path = captagent
	url = https://github.com/sipcapture/captagent.git
	branch = captagent6
#[submodule "homer-ui"]
#	path = homer-ui
#	url = https://github.com/sipcapture/homer-ui.git
#        branch = master

[submodule "homer-api"]
	path = homer-api
	url = https://github.com/sipcapture/homer-api.git
	branch = master
[submodule "homer-ui"]
	path = homer-ui
	url = https://github.com/sipcapture/homer-ui.git
	branch = master
