RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule    	^session/([A-Za-z0-9-]+)/?$    	api.php?task=session&cid=$1    [NC,L]   
RewriteRule    	^msg/([0-9]+)/?$    		api.php?task=msg&id=$1    [NC,L]   
RewriteRule    	^last/([0-9]+)/?$    		api.php?task=last&limit=$1    [NC,L]   
RewriteRule    	^search/(.*)/(.*)	    	api.php?task=search&field=$1&value=$2    [NC,L]   

RewriteRule 	^test/(.*)/(.*)/(.*-?)/([^/]+)  	api.php?task=test&id=$1&from_date=$2&to_date=$3&$4  [NC,L]
RewriteRule 	^best/(.*)/(.*)/(.*)/([^/]+)  	api.php?task=test&params=$0  [NC,L]
RewriteRule 	^download/?(pcap|png|pdf)?/?(cid|id)?/?([A-Za-z]?)/?([0-9]*)/?  api.php?task=test&category=$1&action=$2&argument=$3&page=$4    [PT]
